body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

canvas {
  border: 3px solid white;
}

.mouse-control canvas {
  cursor: crosshair;
}